*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: rgb(240, 240, 243);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.principal{
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 50%;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}
.principal header{
    background-color: rgb(200, 200, 200);
    width: 100%;
    height: 10%;
    text-align: center;
}
.principal .body{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 80%;
}
.principal footer{
    background-color: rgb(200, 200, 200);
    width: 100%;
    height: 10%;
}