*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
    width: 200px;
    height: 250px;
}
.formulario h2{
    margin-bottom: 15px;
    font-size: 24px;
    text-align: center;
    color: rgb(58, 57, 57);
}
input{
    margin-top: 10px;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 14px;
    color: #323532;
}
input:focus{
    border: 2px solid #4CAF50;;
    outline: none;
}
button{
    margin-top: 15px;
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: #4CAF50;
}